div.block-container.css-18e3th9.egzxvld2{
    margin-top:-5%;
}

div.css-1r6slb0.e1tzin5v2, div.css-keje6w.e1tzin5v2{
    background-color: #3FB0AC;
    padding: 2% 2% 2% 2%;
    border-radius:10px;
    border:1px solid #FDBA46;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width:330px;
    text-align: center;
}

div.css-keje6w.e1tzin5v2{
    max-width:330px;
}

div.css-1r6slb0.e1tzin5v2{
    max-width:200px;
}

span.css-10trblm.e16nr0p30{
    color:#3FB0AC;
}

div.css-ocqkz7.e1tzin5v4{
    justify-content: center;
}
div.css-ytkq5y.e1tzin5v2{
    width:100%;
}
 
button.css-pa72i3.edgvbvh9{
    background-color: #cbf3bf;
    color: darkolivegreen;
}

img {
    border-radius: 10px;
}

.border{
    border:1px solid #3FB0AC;
}